<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/knockout-3.4.2.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
    var self = this;
    function usersModel() 
    {
      self.userdata = ko.observableArray([]);
      $.getJSON("/userdata",function (data) {
            console.log("Data:" + JSON.stringify(data));
            self.userdata(data);
            //console.log("Config:" + self.config);
     });
    };
	
    $( document ).ready(function() {
        console.log( "Getting Users" );
    	ko.applyBindings(new usersModel());
    });

    function saveUserData()
    {
       var userName = $('#userName').val();
       var userEmail = $('#userEmail').val();
       var userStatus = $('#userStatus').val();	    
       let userData = {user_name: userName, user_email: userEmail, user_status: userStatus}
       console.log(userData)
	    $.post( "/userdata", userData)
          .done(function( data ) {
             console.log("Result:" + data)
             $.getJSON("/userdata",function (data) {
               console.log("Data:" + JSON.stringify(data));
               self.userdata(data);
               //console.log("Config:" + self.config);
             });  
        });

    }

	</script>
    <h1><%= title %></h1>
    <p>Users entered in the Event</p>
    <div>
		<table border="1" style="width:30%">
		    <thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>
		          <th>Status</th>
		      </tr>
		    </thead>
		      <tbody data-bind="foreach: userdata">
		        <tr>
		            <td data-bind="text: user_name"></td>
		            <td data-bind="text: user_email"></td>
		            <td data-bind="text: user_status"></td>
		        </tr>
		      </tbody>
		  </table>
    </div>
    <p>&nbsp;</p>
    <div>
        <table border="1" style="width:30%">
          <tbody>
            <tr>
	     	    <td>Name:</td><td><input size="65" type="text" id="userName"> </td>
	   </tr>
	   <tr>
	      <td>Email:</td> <td><input type="text" size="65" id="userEmail">  </td>
	   </tr>
	   <tr>
	      <td>Status:</td> <td> <input type="text" size="65" id="userStatus"> </td>
           </tr>
	   <tr> <td colspan="2">
            <div><input type='button' onclick="saveUserData(this)" value="Add User"/></div>
	   </td>
	   </tr>
	 </tbody>
      </table>
    </div>

  </body>
</html>
